<!--
  Generated template for the MorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>

  <ion-navbar hideBackButton>
    <ion-title class="title">More</ion-title>
  </ion-navbar>
  <div class="Reset-Password">Reset Password</div>
</ion-header>


<ion-content>

  <form #r="ngForm" (ngSubmit)="reset(r.value, r.valid);" novalidate>

    <div class="input-container">
      <ion-item class="input-group" [ngClass]="{'input-error': passwordError }">>
        <ion-label class="Field-Label" [ngClass]="{'error': passwordError }" floating>Current Password</ion-label>
        <ion-input class="Field-Input" [ngClass]="{'error': passwordError }" type={{type}} name="password" [ngModel]="more.password"
          (ngModelChange)="checkIfComplete($event, 'password')" (ngModelChange)="checkIfCorrect($event, 'password')" (ngModelChange)="checkIfPasswordEmpty($event, 'password')"
          value=""></ion-input>
        <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
          <ion-icon name="ios-eye-off-outline"></ion-icon>
        </button>
        <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
          <ion-icon name="ios-eye-outline"></ion-icon>
        </button>
      </ion-item>
      <ion-item [ngClass]="{show:!passwordError}" class="Error-Text">Hmm...That's not the correct password.</ion-item>
    </div>

    <div class="input-container">
  <ion-item class="input-group" [ngClass]="{'input-error': sameError }">
        <ion-label floating class="Field-Label" [ngClass]="{'error': sameError }">New Password</ion-label>
    <ion-input class="Field-Input" type="{{type2}}" [ngClass]="{'error': sameError }" name="password2" [ngModel]="more.password2" (ngModelChange)="checkIfComplete($event, 'password2')" (ngModelChange)="checkIfSame($event, 'password2')"
        value="" required minlength="8" reverse="true" #password2="ngModel"></ion-input>
      <button *ngIf="!showPass2" ion-button clear color="dark" type="button" item-right (click)="showPassword2()">
      <ion-icon name="ios-eye-off-outline"></ion-icon>
      </button>
      <button *ngIf="showPass2" ion-button clear color="dark" type="button" item-right (click)="showPassword2()">
        <ion-icon name="ios-eye-outline"></ion-icon>
      </button>
        </ion-item>
      <ion-item [hidden]="!sameError" class="Error-Text">Hmm...That's your current password!</ion-item>
    </div>
    
    
    <div class="input-container">
      <ion-item class="input-group" [ngClass]="{'input-error': confirmError }">
        <ion-label floating class="Field-Label" [ngClass]="{'error': confirmError }">Confirm New Password</ion-label>

        <ion-input class="Field-Input" [ngClass]="{'error': confirmError }" type="{{type3}}" name="password3" [ngModel]="more.password3"
          (ngModelChange)="checkIfComplete($event, 'password3')" (ngModelChange)="checkIfConfirm($event, 'password3')" value=""
          required minlength="8" reverse="true" #password3="ngModel"></ion-input>

        <button *ngIf="!showPass3" ion-button clear color="dark" type="button" item-right (click)="showPassword3()">
          <ion-icon name="ios-eye-off-outline"></ion-icon>
        </button>
        <button *ngIf="showPass3" ion-button clear color="dark" type="button" item-right (click)="showPassword3()">
          <ion-icon name="ios-eye-outline"></ion-icon>
        </button>
      </ion-item>
      <ion-item [hidden]="!confirmError" class="Error-Text">Hmm...Those passwords don't match!</ion-item>
    </div>
    <button class="btn-reset" type="submit" [ngClass]="{'buttonActive': active }" ion-button> CHANGE PASSWORD</button>
  </form>

  <button class="btn-logout" type="submit" (click)="logout();" ion-button> LOG OUT</button>


</ion-content>