page-modal-checkbox {
    .exit {
        float: right;
        background-color: white;
        width: 18px;
        height: 18px;
    }

    .lastChance {
        width: 260px;
        height: 46px;
        float: center;
        font-family: AvenirNext;
        font-size: 34px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
    }

    .confirmHabitsText {
        width: 260px;
        height: 72px;
        font-family: Lato;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
    }

    .confirmButton {
        width: 255px;
        height: 44px;
        background-color: #097ed5;
        font-family: Lato;
        font-size: 14px;
        color: white;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        float: center;
    }
}
