@import "../../styles/global.scss";

  /* Text styles */
  .h1-bold {
    font-family: Lato;
    font-size: 36px;  
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  h1 {
    font-family: Lato;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $black;
  }
  h2 {
    font-family: Lato;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  .h3-linked {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: $cerulean;
  }
  h3 {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
  }
  button {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }

  h3 {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
  }
  input {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }

.input-wrapper {
  height: 65px;
}

.Field-Input {
  padding-bottom: 0px;
}

.item-label-stacked .text-input-md, .item-label-floating .text-input-md{
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

  .error {
    font-family: Lato;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $error-red !important;
  } 

  .Error-Text {
    background: transparent;
    height: 11px;
    font-family: Lato;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $error-red !important;
    width: 64.2667%;
    margin: 0 auto;
    z-index: 5;
    padding-left: 0px;
    margin-top: -12px;
  }
  .floating {
    font-family: Lato;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }

  .Field-Label {
    width: 241px;
    height: 15px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }

  .input-group {
      width:64.2667%;
      margin:0 auto;
      padding-left:0px;
  }


  .input-group .item-block .item-md .item-input item-label
  .list-md .item-block .item-inner {
    border-bottom: 0px !important;

  }



  .Field-Input.Email-Input.error {
    border-bottom: solid 2px $error-red;
  }
  .text-input{
    color: $black;
  }

  .login-btn{
    width: 255px;
    height: 44px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    display:block;
    margin:0 auto;
  }

  .Login {
    margin-bottom: 0px;
    height: 27px;
    font-family: Lato;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    margin-top: 35px;
  }

  .Rectangle-3 {
    border-radius: 0px;
    width: 255px;
    height: 44px;
    background-color: #eaeaea;
    margin-top: 16%;
    transition: all 500ms ease;
  }

  .Rectangle-3.active {
    background-color: #097ed5;
    opacity:1 !important;
    color: white;
  }

 .signUp{
  text-decoration: none;
  white-space: nowrap;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $cerulean;
 }

  .Forgot-password {
    height: auto;
    font-family: Lato;
    margin-top: 5%;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: $cerulean;
  }

  .newUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
  }

  .newUser1{
    height: 17px;
    padding-right: 10px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: $dark-grey;
  }

  .newUser2{
    height: 17px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: $dark-grey;
  }

  .login-graphic {
    background: $white !important;
  }

  .container {
    padding:0px !important;
    position:relative;
    background-image: url('../assets/imgs/mainBackDrop.png');
    background-size: cover;
    height: auto;
  }

  .container2 {
    padding: 0px !important;
    position: absolute;
    top: 0px;
    width:100%;
  }

  .imgContainer {
    padding:0px !important;
    width: 100%;
    height: 280px;
    margin-bottom: 1px;
    
  }

  .logoContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
    margin-top: 20px;
  }


  .Mask {
    border-radius: 50%;
    width: 137px;
    height: 137px;
    opacity: 0.3;
    background-color: $grey;
  }

//Changes the input label color
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: $grey;
  }
.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
    color: $grey;
  }

.label-md.error {
    color: $error-red !important;
  }
  


.item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}


ion-input.Field-Input.Email-Input.input.input-md.ng-pristine.ng-valid.ng-touched {
  height: 20px;
}


.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: 1px solid #dedede !important;
  box-shadow: 0px;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  border-bottom-color: #dedede !important;
}


//eye icon location
.item-md.item-label-stacked [item-right], .item-md.item-label-floating [item-right], .item-md.item-label-stacked [item-end], .item-md.item-label-floating [item-end]{
  padding: 0px;
  top: 15px !important;
  left: 8px;
}

//eye icon location
.item-ios.item-label-stacked [item-right], .item-ios.item-label-floating [item-right], .item-ios.item-label-stacked [item-end], .item-ios.item-label-floating [item-end]{
  padding: 0px;
  top: 15px !important;
  left: 8px;
}

.ion-ios-eye-off-outline:before, .ion-ios-eye-outline:before{
  font-size: 2.2rem;
}


// changes color of input label when clicked on it
// Need to include both label-md (google's material design) and label-ios(iphone) in order for
// the styling to show up
.item-input-has-focus.label-md[stacked], .input-has-focus .label-md[stacked], item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating] {
  color: $cerulean !important;
  border-bottom-color: $cerulean;
}

.item-input-has-focus.label-ios[stacked], .input-has-focus .label-ios[stacked], item-input-has-focus .label-ios[floating], .input-has-focus .label-ios[floating] {
  color: $cerulean !important;
  border-bottom-color: $cerulean;
}

//removing the green underline when the the field is filled out
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  box-shadow: inset 0 -1px 0 0 transparent !important;
}

.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  box-shadow: inset 0 -1px 0 0 transparent !important;
}

//Changes the color of the input's bottom border when the field is clicked on
//Transparent box shadow removes an automatic blue box shadow that appears when clicked
.item-md.item-input.item-input-has-focus.item-inner, .item-md.item-input.input-has-focus .item-inner{
  border-bottom: solid 2px $cerulean;
  box-shadow: inset 0 -1px 0 0 transparent !important;
}

.item-ios.item-input.item-input-has-focus.item-inner, .item-ios.item-input.input-has-focus .item-inner{
  border-bottom: solid 2px $cerulean;
  box-shadow: inset 0 -1px 0 0 transparent !important;
}


