<ion-content no-bounce>

  <ion-row id="header">
    <!-- <ion-img class="imgContainer" alt="app logo" src="../../assets/imgs/mainBackDrop.png"></ion-img> -->
  </ion-row>

    <ion-list class="login-main">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value);">

        <div class="input-container">
          <ion-item class="input-group" [ngClass]="{'input-error': emailError }">
            <ion-label class="Field-Label" [ngClass]="{'error': emailError }" floating>Email</ion-label>
            <ion-input class="Field-Input Email-Input" [ngClass]="{'error': emailError}" type="text" name="email"  [ngModel]="email" (ngModelChange)="checkIfEmailEmpty($event, 'email')" (ngModelChange)="checkIfComplete($event, 'email')" value=""></ion-input>
          </ion-item>
          <ion-item [ngClass]="{show:!emailError,error:emailError}" class="Error-Text">Hmm...We don't have an account for this email.</ion-item>
          </div>

        <div class="input-container">
          <ion-item class="input-group" [ngClass]="{'input-error': passwordError }" >
            <ion-label class="Field-Label" [ngClass]="{'error': passwordError }" floating>Password</ion-label>
            <ion-input class="Field-Input" [ngClass]="{'error': passwordError }" type={{type}} name="password" [ngModel]="password" (ngModelChange)="checkIfPasswordEmpty($event, 'password')" (ngModelChange)="checkIfComplete($event, 'password')"  value=""></ion-input>
            <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
            <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
          </ion-item>
          <ion-item [ngClass]="{show:!passwordError,error:passwordError}" class="Error-Text">Hmm...That's not the correct password.</ion-item>
        </div>


        <div>
            <button   class="login-btn Rectangle-3" [ngClass]="{'active': active }"
            [disabled]="!isComplete ">LOGIN</button>
      
            <div class="Forgot-password" (click)="goToForgotPage()">Forgot password?</div>
            <div class="newUser">
              <div class="newUser1">Are you a new user? </div>
              <div class="newUser2">
                <a class="signUp" (click)="goToCreateAccountPage()">Sign up for free</a>
              </div>
            </div>

        </div>

        </form>

    </ion-list>
  </ion-content>
<!--
  Use ngModelChange. It automatically fires when the ngModel is changed.
  This way I can create a function that will check if the fields are empty and everytime
  they delete a character it will fire. When they delete the final character it will see that it's empty
  and adjust this.emailerror to false. -->
