<!--
  Generated template for the HabitLandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar hideBackButton>
    <ion-buttons end>
      <button end ion-button class="habit-landing-modal-button" (click)="openModal()">
          <ion-icon class="habit-landing-modal-icon" name="add"></ion-icon>
      </button>
    </ion-buttons>
      <ion-title>My Habits</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce (click)="showModal()">
  <div class="habit-landing-habits" *ngIf="!habits?.length">
    <div class="add-button">
      <h2>
          Click the <b>Add Button  </b> <ion-icon class="arorw-to-add-button-icon" name="undo"></ion-icon>
      </h2>

      <p>
          to create your first habit to begin tracking towards your goals!
      </p>

      </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor=" let habit of habits">
          <ion-card class="habit" [ngClass]="{checked:habit.checked}" >
              <ion-card-title class = "habit-title">{{habit.title}}</ion-card-title>
              <div class = "circle">
                <habit-progress
                  [ngClass]="setHabitClass(habit.habitCategory)"
                  (click)="increment(habit)"
                  class="circle"
                  [current]="habit.streakCounter">
                </habit-progress>
              </div>
              <div class="details">
                  <ion-icon class = "details-icon" (click)="goToHabitDetails(habit)"name="expand"></ion-icon>
              </div>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
</ion-footer>
