@import "../../styles/_colors.scss";
page-habit-landing {
  .animating .scroll-content {
    transition: margin 0.2s;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  ion-header {
    z-index: 1;
  }
  .bar-buttons,
  .toolbar-title,
  .habit-landing-modal-button {
    color: $white-two;
  }
  .habit-col {
    flex: 50%;
    max-width: 50%;
    height: 50%;
    transition: max-width 0.6s, padding 0.4s, height 0.3s, flex 0.6s
  }
  .habit-landing-habits {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
  }
  .habit-landing-habits div {
    display: block;
    text-align: center;
    width: 80%;
  }
  .habit-grid {
    transition: height 0.2s, width 0.2s margin 0.4s;
    height: 100%;
    width: 100%;
  }
  .habit-row {
    transition: height 0.2s, width 0.2s margin 0.2s;
  }
  .habit-landing-modal-icon {
    font-size: 2em;
    font-weight: bold;
    color: $white-two;
  }
  .arorw-to-add-button-icon {
    transform: rotate(110deg);
  }
  .habit {
    width: 163px;
    height: 251px;
    margin: auto;
    padding: 10px;
    flex-basis: 43.5%;
    background-color: white;
    transition: opacity 1s ease-in, height 1s, width 1s, margin 0.3s, padding 0.3s;
    .habit-close-button{
      position: absolute;
      font-size: 20px;
      display: none;
      color:$black;
      background-color: transparent;
      float:left;
      height:auto;

    }
    .habit-details{
      opacity:0;
      transition:opacity 0.2s ease-in-out;
      .habit-headline {
        flex: 200px;
        margin: auto;
        h2 {
          text-align: left;
        }
      }
      .habit-metric {
        text-align: center;
      }
      .habit-delete{
        text-align: center;
        margin: 100px 0 40px 0;
      }
    }

    .habit-title h2 {
      font-family: Lato;
      height: 42px;
      color: #4a4a4a;
      text-align: left;
      transition: text-align 1s, font-size 1s, color 1s;
    }
    .details {
      padding: 0;
      font-family: Lato;
      font-size: 22px;
      text-align: right;
      transition: opacity 1s;
    }
    .details-icon {
      color: #0477d6;
      font-size: 27px;
      margin-right: 5px;
      font-weight: bold;
    }
    .circle {
      width: 135px;
      margin: auto;
      text {
        stroke: $white-two;
        fill: $white-two;
      }
      transition : width 1.5s
    }
  }

  .checked {
    .check {
      stroke-opacity: 0.5;
    }
    circle {
      fill: none !important;
    }
    .circle text {
      stroke: $dark-grey;
      fill: $dark-grey;
    }
  }
  .check {
    transition: stroke-opacity 0.3s;
    stroke-opacity: 0;
  }
  .toolbar-background {
    background-color: #0477d6;
  }
  .productivity {
    path,
    polyline {
      stroke: $productivity;
    }
    circle {
      fill: $productivity-fill;
    }
  }
  ion-header.animating {
    z-index: 0;
  }
  ion-grid.animating {
    z-index: 0;
    padding: 0;
    .habit-row {
      height: 100%
    }
    .habit.still {
      transition:opacity 0.2s;
      height: 0px;
      width: 0px;
      margin: 0px;
      padding: 0px;
      opacity: 0;
    }

    .habit.animating {
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 22px;
      overflow-y: scroll;
      .habit-title h2{
        text-align: center;
        font-size: 22px;
      }
      .habit-close-button{
        display: block;
      }
      .circle {
        width: 200px;
      }
      .details{
        opacity:0;
      }
      .habit-details{
        transition:opacity 1.5s ease-in;
        opacity:1;
      }

    }
    .habit-col.animating {
      height: 100%;
      max-width: 100%;
      flex: 100%
    }
    .habit-col.still {
      height: 0%;
      flex: 0%;
    }
    .habit-col {
      transition: max-width 0.5s, padding 0.4s, height .4, flex 0.5s;
      padding: 0px
    }
  }
  .mental {
    path,
    polyline {
      stroke: $mental;
    }
    circle {
      fill: $mental-fill;
    }
  }
  .basic {
    path,
    polyline {
      stroke: $basic;
    }
    circle {
      fill: $basic-fill;
    }
  }
  .physical {
    path,
    polyline {
      stroke: $physical
    }
    circle {
      fill: $physical-fill;
    }
  }
}
