@import "../../styles/_colors.scss";
$transition-in:0.5s;
page-habit-landing {
  .habit-landing-habits {
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
  }
  .habit-landing-habits div{
    display: block;
    text-align:center;
    width:80%;
  }
  .animating .scroll-content {
    transition: margin 0.2s;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .scroll-content{
    background: url('../assets/svgs/habit-landing-background.svg') no-repeat right bottom;
    background-size: cover;

  }
  ion-header {
    z-index: 1;
  }
  .bar-buttons,
  .toolbar-title,
  .habit-landing-modal-button {
    color: $white-two;
  }
  .habit-col {
    flex: 50%;
    max-width: 50%;
    height: 50%;
    transition: max-width $transition-in, padding $transition-in, height $transition-in, flex $transition-in;
  }

  .habit-grid {
    transition: height $transition-in, width $transition-in, margin $transition-in;
    height: 100%;
    width: 100%;
    background:transparent;
  }
  .habit-row {
    transition: height $transition-in, width $transition-in, margin $transition-in;
  }
  .habit-landing-modal-icon {
    font-size: 2em;
    font-weight: bold;
    color: $white-two;
  }
  .arorw-to-add-button-icon {
    transform: rotate(110deg);
  }
  .habit {
    width: 163px;
    height: 270px;
    margin: auto;
    padding: 10px;
    flex-basis: 43.5%;
    background-color: white;
    transition: opacity 1s ease-in, height $transition-in, width $transition-in, margin $transition-in, padding $transition-in;
    .habit-close-button{
      position: absolute;
      font-size: 20px;
      display: none;
      color:$black;
      background-color: transparent;
      margin-left: 0px;
      padding:0px;
      height:21px;

    }
    .reminder-label{
      margin-top:5px;
    }
    .habit-details{
      opacity:0;
      height: 0;
      .habit-headline {
        flex: 200px;
        margin: auto;

        h2 {
          text-align: left;
        }
      }
      .habit-metric {
        text-align: center;
      }
      .habit-delete{
        text-align: center;
        margin: 10px 0 40px 0;
      }
    }

    .habit-title h2 {
      font-size:19px;
      font-family: Lato;
      height: 42px;
      color: #4a4a4a;
      text-align: left;
      transition: text-align $transition-in, font-size $transition-in, color $transition-in;
    }
    .details {
      padding-top:10px;
      font-family: Lato;
      font-size: 22px;
      text-align: right;
      transition: opacity $transition-in;
    }
    .details-icon {
      color: #0477d6;
      font-size: 30px;
      margin-right: 5px;
      font-weight: bold;
    }
    .circle {
      width: 135px;
      margin: auto;
      text {
        stroke: $white-two;
        fill: $white-two;
      }
      transition : width $transition-in
    }
  }

  .checked {
    .check {
      stroke-opacity: 0.5;
    }
    circle {
      fill: none !important;
    }
    .circle text {
      stroke: $dark-grey;
      fill: $dark-grey;
    }
  }
  .check {
    transition: stroke-opacity $transition-in;
    stroke-opacity: 0;
  }
  .toolbar-background {
    background-color: #0477d6;
  }
  ion-header.animating {
    z-index: 0;
  }
  .habit.still{
    .habit-details *{
      height:0;
      margin:0;
      padding:0;
      min-height: 0;
    }
  }
  ion-grid.animating {
    z-index: 0;
    padding: 0;
    .habit-row {
      height: 100%
    }
    .habit.still {
      transition:opacity $transition-in;
      height: 0px;
      width: 0px;
      margin: 0px;
      padding: 0px;
      opacity: 0;
    }

    .habit.animating {
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 22px;
      overflow-y: scroll;
      .habit-title h2{
        text-align: center;
        font-size: 22px;
      }
      .habit-close-button{
        display: block;
      }
      .circle {
        width: 200px;
      }
      .details{
        opacity:0;
      }
      .habit-details{
        transition:opacity 0.2s ease-in;
        transition-delay: 0.5s;
        opacity:1;
        height:auto;
      }
    }
    .habit-col.animating {
      height: 100%;
      max-width: 100%;
      flex: 100%
    }
    .habit-col.still {
      height: 0%;
      flex: 0%;
    }
    .habit-col {
      transition: max-width $transition-in, padding $transition-in, height $transition-in, flex $transition-in;
      padding: 0px
    }
  }
}
