
.progress-wrapper {
  position: relative;
  margin: 0px auto 0px auto;
  font-size: 40px;
}

svg {
  margin: auto;
}
text{
  font-size: 4rem;
  font-family: Lato;
  color: white !important;
  .habit-progress-count{
    font-size: 34pt;
  }
  .habit-progress-days{
    font-size: 20pt;
  }
}
path,polyline,circle{
  transition: stroke 0.5s, fill 0.5s;
}
.beginning {
  path,
  polyline {
    stroke: $physical;
  }
  circle {
    fill: $physical-fill;
  }
}
.middle {
  path,
  polyline {
    stroke: $basic;
  }
  circle {
    fill: $basic-fill;
  }
}
.complete {
  path,
  polyline {
    stroke:$mental
  }
  circle {
    fill: $mental-fill;
  }
}
