
<div class="progress-wrapper">
   <svg xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="_viewBox">
    <circle
      fill="none"
      [attr.cx]="radius"
      [attr.cy]="radius"
      [attr.r]="radius - stroke / 2"
      [style.stroke]="resolveColor(background)"
      [style.stroke-width]="stroke"></circle>

    <path
      #path
      fill="none"
      [style.stroke-width]="stroke"
      [style.stroke]="resolveColor(color)"
      [style.stroke-linecap]="rounded ? 'round' : '' "
      [attr.transform]="getPathTransform()"></path>
    <text x="50%" y="50%" color="white" text-anchor="middle" dy="0.5em">{{current}} Days</text>
  </svg>
</div>
