
.progress-wrapper {
  position: relative;
  margin: 20px auto 0px auto;
  font-size: 40px;
}

svg {
  margin: auto;
}
text{
  font-size: 4rem;
  font-family: Lato;
  color: white !important;
  .habit-progress-count{
    font-size: 34pt;
  }
  .habit-progress-days{
    font-size: 20pt;
  }
}
