@import '../../styles/global.scss';

.close-modal {
    position: absolute;
    top: 15px;
    left: 0px;
}

.close-modal-button {
    background-color:transparent;
    margin: 0px;
    box-shadow: 0px !important;
}
.close-modal-button-icon {
    font-size: 24px !important;
    color: $white-two;
}

