<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

    <div class="categories-header">
        <div class="categories-header-container">
           <div class="categories-header-title">Which category does this habit fit best with?</div>
        </div>
        <img class="categories-sun" src="../www/assets/svgs/categories.svg" alt="" srcset=""> 
     </div>
    <ion-list class="categories">
      <button (click)="setCategory('Productivity', $event)" type="button" value="Productivity" class="categories-button">
          <div class="categories-button-icon-container"><ion-icon name="time"></ion-icon></div>
          <div class="categories-button-title">Productivity</div>
      </button>

      <button (click)="setCategory('Mental Wellness', $event)" type="button" value="Mental Wellness" class="categories-button">
        <div class="categories-button-icon-container"><ion-icon name="sunny"></ion-icon></div>
        <div class="categories-button-title">Mental Wellness</div>
      </button>
  
      <button (click)="setCategory('Physical Health', $event)" type="button" value="Physical Health" class="categories-button">
        <div class="categories-button-icon-container"><ion-icon name="flame"></ion-icon></div>
        <div class="categories-button-title">Physical Health</div>
      </button>

      <button (click)="setCategory('The Basics', $event)" type="button" value="The Basics" class="categories-button">
          <div class="categories-button-icon-container"><ion-icon name="home"></ion-icon></div>
          <div class="categories-button-title">The Basics</div>
      </button>

    </ion-list>
  
    <div class="categories-back">
      <button (click)="emitGoBack()" ion-button clear class="categories-back-button">Go Back</button>
    </div>
    

  