<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

    <div class="categories-header">
        <div class="categories-header-container">
           <div class="categories-header-title">Which category does this habit fit best with?</div>
        </div>
        <img class="categories-sun" src="../www/assets/svgs/categories.svg" alt="" srcset=""> 
     </div>
     <div class="categories-body">
        <ion-list class="categories">
            
        <button [ngClass]="{'inactive': categorySelected && categorySelected!=='Work'}" value="Work" (click)="setCategory('Work')" type="button" class="categories-button">
            <div class="categories-button-icon-container"><ion-icon name="time"></ion-icon></div>
            <div class="categories-button-title">Work</div>
        </button>

        <button [ngClass]="{'inactive': categorySelected && categorySelected!=='Mental Wellness'}" value="Mental Wellness" (click)="setCategory('Mental Wellness')" type="button" class="categories-button">
            <div class="categories-button-icon-container"><ion-icon name="sunny"></ion-icon></div>
            <div class="categories-button-title">Mental Wellness</div>
        </button> 

        <button [ngClass]="{'inactive': categorySelected && categorySelected!=='Physical Health'}" value="Physical Health" (click)="setCategory('Physical Health')" type="button" class="categories-button">
            <div class="categories-button-icon-container"><ion-icon name="flame"></ion-icon></div>
            <div class="categories-button-title">Physical Health</div>
        </button>

        <button [ngClass]="{'inactive': categorySelected && categorySelected!=='Life'}" value="Life" (click)="setCategory('Life')" type="button" class="categories-button">
            <div class="categories-button-icon-container"><ion-icon name="home"></ion-icon></div>
            <div class="categories-button-title">Life</div>
        </button>
        </ion-list>
    </div>
    <div class="categories-back">
      <button (click)="emitGoBack()" ion-button clear class="categories-back-button">Go Back</button>
    </div>
    

  