page-my-habits {
    /*
    .background{
        background-image: url('../assets/svgs/login-screen.svg');
        background-size: cover;
        position: absolute;
        //width: 100%;
    }
    */
}
