page-add-preset-habit {
    .toolbar-title {
        color: $white-two;
        font-family: Lato;
        text-align: center;
    }

    //.toolbar-background {}

    .confirm {
        color: $white-two;
        font-family: Lato;
        text-align: center;
        background-color: #097ed5;
        width: 255px;
        height: 44px;
    }

}
