page-add-preset-habit {
    .toolbar-title {
        color: $white-two;
        font-family: Lato;
        text-align: center;
    }

    .toolbar-background {
        background-color: $tealish;
    }
}
