@import '../../styles/global';

.start-date-header {
    height: 25%;
    width: 100%;
    background-color: $grey;
    position:absolute;
    top:0;
    height: 186px;
    background:linear-gradient($cerulean,$baby-blue);
}
.start-date-sun {
    background-image: url('../www/assets/svgs/categories.svg');
    position: absolute;
    left: 0px;
    top: 0px;
}
.start-date-header-title {
    padding-top: 1.2em;
}

.start-date-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Lato;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    line-height: 1.18;
    letter-spacing: normal;
    color: $white-two;  
    height:100%;
    background-color: transparent;
    padding:0px 60px;
}
.start-date-body{
    height: calc(100vh - 28vh - 186px);
}
.start-date-container {
    width: 68%;
    margin:0 auto;
    padding-top: 50px;
}

.start-date-input-group, .start-date-target {
    border-top-color: transparent !important;
}
.start-date-back {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20vh;
}
.start-date-back-button{
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $cerulean;
}
.start-date-target {
    text-align: left;
    margin-top:46px;
}
.target-date-value{
    height: 151px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $teal;
}
.datetime-text{
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $black;
}
.picker-ios .picker-button, .picker-ios .picker-button.activated{
    color: $cerulean !important;
}
.picker-ios .picker-opt{
    font-family: AvenirNext !important;
    font-size: 22px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $black-two !important;
}
.target-date-label{
    font-size: 14px;
    font-weight: normal;
    color: $brownish-grey;
}
.start-date-label.label-ios{
    margin:0;
    font-family: Lato;
    font-size: 15px;
    color: $brownish-grey;
}
.start-date-container > .item-ios {
    padding-left:0;
}
.list-ios .item-block .item-inner {
    border-bottom: 0;
}
.start-date-input-group{
    border-bottom: 2px solid $grey;
}
.start-date-input-group.input-has-focus {
    border-bottom: 2px solid $cerulean;
}