@import '../../styles/global';

.start-date-header {
    height: 25%;
    width: 100%;
    background-color: $grey;
    position:absolute;
    top:0;
    height: 186px;
    background:linear-gradient($cerulean,$baby-blue);
}
.start-date-sun {
    background-image: url('../www/assets/svgs/categories.svg');
    position: absolute;
    left: 0px;
    top: 0px;
}
.start-date-header-title {
    padding-top: 1.2em;
}

.start-date-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Lato;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    line-height: 1.18;
    letter-spacing: normal;
    color: $white-two;  
    height:100%;
    background-color: transparent;
    padding:0px 60px;
}

.start-date-container {
    width: 68%;
    margin:0 auto;
}

.start-date-input-group, .start-date-target {
    border-top-color: transparent !important;
}
.start-date-back {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}
.start-date-label.label-ios{
    margin:0;
}
.start-date-container > .item-ios {
    padding-left:0;
}
.list-ios > .input-has-focus.start-date-input-group.item-block:last-child, .list-ios > .input-has-focus.start-date-input-group.item-wrapper:last-child .item-block{
    border-bottom: 2px solid $cerulean !important;
}