<div class="custom-habit-container">
    <div class="custom-habit-body">
        <div class="custom-habit-header">
            <p>
                Tap your habit as complete
                every day to build your streak!
            </p>
        </div>
        <h2 class="custom-habit-instruction">
            <span class="helper-text"><b>Give it a try below</b></span>
            <img class="helper-arrow" src="../../assets/svgs/Group2.svg"/>
        </h2>
        <habit-progress (click)='changeState()'[current]="current" [text]="text"></habit-progress>

        <div class="footer">
            We found that it takes at least 21 consecutive days to form a new habit.
        </div>
    </div>
</div>
