@import '../../styles/global';
start-date{
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0px;
  background-image: url(../assets//svgs/Background2.svg);
  background-size: cover;
    .custom-habit-header{
        text-align: left;
        font-family: Lato;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: $white-two;
        height: 14.5%;
        margin-top:20.8%;
        margin-left:35px;
    }
    .custom-habit-instruction{
      margin:30% auto auto auto;
      color:$white;
      padding-bottom: 50px;
    }
    habit-progress{
      svg{
        width:165px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 165px;
      }
      }
      text {
        stroke: $white-two;
        fill: $white-two;
      }
      .check{
        opacity:0;
      }

    .footer {
        font-family: Lato;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        margin-left: 35px;
        text-align: left;
        color: #4a4a4a;
        position: absolute;
        bottom: 60px;
        width: 81.6%;
    }
}
