@import '../../styles/global';
start-date{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 90vh;
    position: absolute;
    top: 96px;

    .custom-habit-container {
        width: 81.6%;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .custom-habit-body {
        width: 100%;
    }

    .custom-habit-header{
        font-family: Lato;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.1px;
        text-align: left;
        color: #4a4a4a;
        height: 14.5%;
        margin-bottom: 12.7%;
    }

    .start-date-back {
        display:flex;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 18vh;
    }

    .start-date-back-button{
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $cerulean;
    }

    .start-date-next{
        margin-bottom: 0px;
        margin-top: 60px;
        padding-top:10px
    }

    .Rectangle-4 {
        width: 255px;
        height: 44px;
        background-color: $deep-blue-sea;
        border-radius: 0;
    }

    .ACTIVE-BUTTON {
        width: 255px;
        height: 17px;
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $white-two;
    }
  
 
}