//Goals-Mobile Color Variables

$dark-sky-blue: #59a9e4;
$cerulean: #0477d6;
$light-teal: #6bddcb;
$tealish: #1ea09f;
$orange: #ff6a00;
$error-red: #d0021b;
$pink: #fc355f;
$black: #000000;
$grey: #999999;
$white: #fafafa;
$white-two: #ffffff;
$light-aqua: #85ffec;
$dark-grey: #4a4a4a;

