//Goals-Mobile Color Variables

$dark-sky-blue: #59a9e4;
$baby-blue: #0aafed;
$cerulean: #0477d6;
$light-teal: #6bddcb;
$tealish: #1ea09f;
$teal: #32cdb5;
$dark-teal:  #009781;
$orange: #ff6a00;
$sunset-orange: #ffb400;
$sunset-red : #ff0000;
$error-red: #d0021b;
$red: #ff5200;
$pink: #fc355f;
$black: #000000;
$grey: #999999;
$white: #fafafa;
$white-two: #ffffff;
$light-aqua: #85ffec;
$dark-grey: #4a4a4a;
$brownish-grey: #6c6c6c;
$blood-orange: #ff5200;
$leaf-green: #00b39f;
$tangerine: #ff9e00;
$white-three: #eaeaea;
$pinkish-grey: #c1c1c1;
$black-two: #333333;
$deep-blue-sea:#097ed5;
$bright-blue:#007aff;
$purplish-grey:#5c5b5c;


