<div class="custom-habit-container">
    <div class="custom-habit-body">
        <div class="custom-habit-header">
            <p>Let us help you succeed by reminding you daily!</p>
        </div>
        <div class="reminder-body">
            <ion-list>
                <ion-item class="reminder-input-group">
                <ion-label class="reminder-label" floating>Reminder Time</ion-label>
                <ion-datetime
                    class="date-value"
                    displayFormat="h:mm A"
                    pickerFormat="h mm A"
                    name="reminderTime"
                    [(ngModel)]="reminderTime"
                    (ngModelChange)="setReminderTime()"
                    ></ion-datetime>
                </ion-item>
            </ion-list>
        </div>
    </div>
</div>
  