@import '../../styles/global';
name-habit{
  .name-habit-header {
    height: 25%;
    width: 100%;
    background-color: $grey;
    position:absolute;
    top:0;
    height: 186px;
    background:linear-gradient($cerulean,#0aafed)
  }
  .name-habit-header-title {
    font-family: Lato;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: $white-two;
    height: 100px;
}

  .name-habit-header-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      font-family: Lato;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      letter-spacing: normal;
      color: $white-two;
      height:100%;
      background-color: transparent;
      padding:0px 60px;
      padding-top:70px;
  }
  .name-habit-body{
    height: calc(100vh - 28vh - 186px);
  }
  .name-habit-sun{
      position: absolute;
      left: 0;
      bottom:0;
  }
  .name-habit-container{
    width: 68%;
    margin: 0 auto;
    padding-top: 106px;
  }
  .name-habit-container > .item-ios {
    padding-left:0;
}
  .name-habit-input-group {
    border-top-color: transparent !important;
  }
  .Rectangle-3{
      border-radius: 0px;
      width: 255px;
      height: 44px;
      background-color: $cerulean;
      opacity: 0.5;
      margin-top: 21%;
      transition: all 500ms ease;
      .active{
          opacity:1;
      }
  }
}
