@import '../../styles/global';
name-habit {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0px;
  background-image: url(../../assets//svgs/Background1.svg);
  background-size: cover;
  .custom-habit-container {
    padding-top: 96px;
    width: 81.6%;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .custom-habit-body {
    width: 100%;
  }
  .custom-habit-header{
    font-family: Lato;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: $white-two;
    height: 14.5%;
    margin-bottom: 12.7%;
  }
  .item-ios.name-habit-input-group {
    padding-left: 0;
  }
  .item-ios.name-habit-input-group > .item-inner {
    border-bottom: solid 2px $white-two !important;
    border-right: 0 solid $cerulean;
  }
  .name-habit-input > .text-input {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $white-two;
  }
  .item-ios {
    color: $white-two;
    background-color: $cerulean;

  }
  .input-has-focus,
  .input-has-focus .label-ios[floating] {
    color: $white-two !important;
  }
}