<!-- Generated template for the NameHabitComponent component -->
<div class="custom-habit-container">
  <div class="custom-habit-body">
    <div class="custom-habit-header">
        A habit should be a simple daily task that is built into your routine.
    </div>
    <ion-item class="name-habit-input-group">
      <ion-label floating>Habit Name</ion-label>
      <ion-input 
          class="name-habit-input" 
          type="text" 
          maxlength="20" 
          name="name"
          value = "{{habitName}}"
          [(ngModel)]="habitName" 
          (ionChange)="setName(habitName)" 
          required 
          #name="ngModel">
        </ion-input>
    </ion-item>
  </div>
</div>

