@import '../../styles/global';

.name-habit-header {
    height: 25%;
    width:100%;
    position:absolute;
    top:0;
    background:linear-gradient($cerulean,#0aafed)
}
.name-habit-header-title {
    padding-top: 1.2em;
}
.name-habit-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-family: Lato;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: $white-two;  
    height:100%;
    background-color: transparent;
    padding:0px 60px;
}
.name-habit-sun{
    background-image: url('../www/assets/svgs/name-habit.svg');
    position: absolute;
    left: 0;
    bottom:0;
}
.item-block{
    width:68% !important;
    align-content: center;
    margin: 0 auto;
    margin-top: 25%;
}
.Rectangle-3{
    border-radius: 0px;
    width: 255px;
    height: 44px;
    background-color: #eaeaea;
    margin-top: 21%;
    transition: all 500ms ease;
    .active{
        background-color:$cerulean;
    }
}

