page-habit-renew {
    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(51, 51, 51, .5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-content {
        position: absolute;
        height: 75.8vh;
        min-height: 545px;
        width: 93.6%;
        z-index: 100;
        margin-left: auto;
        margin-right: auto;
        left:0;
        right:0;
        color: #333;
        background: white;
        top: 8.2%;
    }
    .almost {
        height: 8%;
        font-family: AvenirNext;
        font-size: 32px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $black;
        margin-bottom: 4.5%;
    }
    .main-text {
        width: 74%;
        height: 17%;
        font-family: Lato;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: left;
        color: #4a4a4a;
    }
    main {
        margin-left: 10.5%;
        margin-bottom: 80px;
        margin-top: 2em;
    }
    footer {
        width: 100%;
        .button-container {
            display: block;
            margin: 0 auto;
            width: 72.6%;
        }
        button.button {
            height: 44px;
            background-color: #097ed5;
            font-family: Lato;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $white-two;
        }
        button:first-child {
            margin-bottom: 3%;
        }
    }
}