@import '../../styles/global';

page-categories {

}

.categories-header {
    height: 140px;
    background-color: $grey;
}

.categories {
    width: 68%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom:70px;
}

.categories-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 0px;
    padding: 0px;
    font-size: 15px;
    margin: 0.4rem 0.2rem;
    background-color: $white-two;
    height:44px;
}

.categories-button:first-child {
    border: 3px solid $cerulean;
    color: $cerulean;
}

.categories-button:nth-child(2) {
    border: 3px solid $teal;
    color: $teal;
}

.categories-button:nth-child(3) {
    border: 3px solid $orange;
    color: $orange;
}

.categories-button:nth-child(4) {
    border: 3px solid $red;
    color: $red;
}

.categories-button + .categories-button {
    margin-top: 25px;
}

.categories-button-icon-container {
    width: 20%;
    text-align: left;
    padding-left: 12px;
    font-size: 24px;
}

.categories-button-title {
    color:$brownish-grey;
}

.categories-back {
    display:flex;
    justify-content: center;
    align-items: center;
}


