page-history {
    .background{
        background-image: url('../assets/svgs/VIZ - Pre-Achievements v3.svg');
    }
    .No-Achievements{
        font-family: Lato;
        font-size: 30px;
        color: #0477d6;
        width: 83.7%;
        text-align: left;
        margin-top: 275px;
        margin-left: 11.5%;
    }
    .No-Achieve-Description{
        font-size: 22px;
        font-family: Lato;
        color: #6c6c6c;
        width: 83.7%;
        text-align: left;
        margin-left: 11.5%;
    }
}
