// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$action-sheet-ios-button-destructive-text-color: black; 
.action-sheet-ios{
  background-color: rgba(0, 0, 0, 0.5);
}
.action-sheets-logout {
  .LogoutButton {
    height: 24px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000000;
    color: var(--black); 
    overflow: visible;
  }
  .LogoutCancelButton {
    width: 65px;
    height: 24px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #007aff;
    background: #f9f9f9;
  }
}
.action-sheet-ios .action-sheet-group:last-child {
  margin-bottom: 0px;
}
.toast-container {
  height: 56px;
  border-radius: 3px;
  background:transparent;
  box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
  align-content: center;
  padding-top: 10px;
  position: fixed;
  width: 89.6%;
  top: 40px;
  left: 5%;
}
.toast-message {
  background: #d8d8d8;
  text-align: center;
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black !important;
  align-content: center;
  
}


