
.contentBackground{
    height: 100%
}

.backgroundImage{
    background-image: url('../assets/imgs/mainBackDrop.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 41%;
    background-position: center;
    background-size: cover;
}

.scroll-content{
    padding: 0px !important;
}
.youDidIt {
    font-family: 'Avenir Next_Medium';
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: black;
    margin-top: 10% !important;
}

.successMessage{
    font-family: 'Lato';
    font-size: 22px;
    margin-top: 8%;
    margin-bottom: 12%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.startButton{
    width: 255px;
    height: 44px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: $white-two;
    background-color: $cerulean;
    border-radius: 0px;
}

.content {
    position: relative;
}