@import "../../styles/_colors.scss";
page-reset-streak-modal {
        .overlay{
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(51, 51, 51, .5);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .mainContent{

            position: absolute;
            width: 90%;
            height: 90%;
            z-index: 100;
            margin: 20px;
            color: #333;
            background: white;
        }
        .confirmHabit{
            height: 30px;
        }
        .exit {
            float: right;
            background-color: white;
            font-size: 23px;
            margin: 23px;
        }
        .checkbox-icon{
            height: 25px !important;
            width: 25px !important;
        }
        .habitText{
            width: 225px;
            height: 17px;
            font-family: Lato;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            color: #4a4a4a;
        }
        .lastChance {
            width: 260px;
            height: 46px;
            margin-top: 43px;
            margin-left: 37px;
            font-family: Avenir Next_Bold;
            font-size: 34px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
        }

        .confirmHabitsText {
            width: 260px;
            height: 72px;
            margin-top: 28px;
            margin-bottom: 40px;
            font-family: Lato;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            margin-left: 37px;
        }

        .confirmButton {
            width: 255px;
            height: 44px;
            margin-left: 12%;
            margin-top: 250px;
            background-color: #097ed5;
            font-family: Lato;
            font-size: 14px;
            color: white;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            float: center;
        }

        .item.item-md .checkbox-md{
            margin: 9px 10px 9px 0px;
        }
        .item.item-ios .checkbox-ios{
            margin: 9px 10px 9px 0px;
        }
        .item-md{
            padding-left: 47px;
        }
        .item-ios{
            padding-left: 47px;
        }

        .input-wrapper{
            height: auto;
        }

        .list-ios > .item-block:first-child {
            border-top: 0px;
        }

        .list-ios > .item-block:last-child,
        .list-ios > .item-wrapper:last-child .item-block {
            border-bottom: 0px;
        }

        .checkbox-ios .checkbox-icon{
            border-radius: 0px;
        }

        .checkbox-ios .checkbox-checked .checkbox-inner{
            height: 18px;
            width: 8px;
            top: 0px;
        }

        .productivity{
            .checkbox-ios .checkbox-checked .checkbox-inner{
                height: 18px;
                width: 8px;
                top: 0px;
                background-color: $productivity;

            }
            }

          .mental{
            .checkbox-ios .checkbox-checked .checkbox-inner{
                height: 18px;
                width: 8px;
                top: 0px;
                 background-color: $mental;
          }
        }
          .basic{
            .checkbox-ios .checkbox-checked .checkbox-inner{
                height: 18px;
                width: 8px;
                top: 0px;
            background-color: $basic;
            }
        }

          .physical{
            .checkbox-ios .checkbox-checked .checkbox-inner{
                height: 18px;
                width: 8px;
                top: 0px;
              background-color: $physical
            }
        }



}
