        <!--
  Generated template for the CreateAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar hideBackButton>
    <ion-buttons>
      <button  ion-button class="create-account-back-button" (click)="goToLogin()">
          <ion-icon icon class="create-account-back-icon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
      <ion-title>Create Account</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
<form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">

  <ion-item class="input-group">
    <ion-label floating class="label">First Name</ion-label>
    <ion-input type="text" name="firstname" [ngModel]="user.firstname" [ngModelOptions]="{ updateOn: 'blur' }"
      required minlength="1" #firstname="ngModel"> </ion-input>

  </ion-item>
  <ion-item no-lines class="error-text" [ngClass]="{hiding:(firstname.valid || firstname.pristine),show:!(firstname.valid || firstname.pristine)}" >
      First Name is required.
  </ion-item>

  <ion-item class="input-group">
      <ion-label floating class="label">Last Name</ion-label>
      <ion-input type="text"  name="lastname" [ngModel]="user.lastname" [ngModelOptions] = "{ updateOn: 'blur' }"
        required minlength="1" #lastname="ngModel"> </ion-input>

    </ion-item>
    <ion-item no-lines class="error-text" [ngClass]="{hiding:(lastname.valid || lastname.pristine),show:!(lastname.valid || lastname.pristine)}">
      Last Name is required.
  </ion-item>


  <ion-item class="input-group">
      <ion-label floating class="label">Email</ion-label>

    <ion-input class="input" type="email"  name="email" [ngModel]="user.email" [ngModelOptions]="{ updateOn: 'blur' }"
      required  #email="ngModel"  ng-model-options="{ updateOn: 'blur' }" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[com]+$"> </ion-input>

  </ion-item>
  <ion-item no-lines class="error-text" [ngClass]="{hiding:(email.valid || email.pristine),show:!(email.valid || email.pristine)}" >
      Hmm...This email seems invalid.
  </ion-item>

  <ion-item class="input-group">
      <ion-label floating class="label">Password</ion-label>

      <ion-input type="{{type}}" name="password" [ngModel]="user.password" [ngModelOptions] = "{ updateOn: 'blur' }"
      required validateEqual="confirmPassword" minlength="8" reverse="true" #password="ngModel"></ion-input>

      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
      <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>

  </ion-item>
  <ion-item no-lines class = "error-text" [ngClass]="{hiding:(password.valid || password.pristine),show:!(password.valid || password.pristine)}">
      Password must be at least 8 characters.
  </ion-item>


  <ion-item class="input-group">
    <ion-label floating class="label">Confirm Password</ion-label>

    <ion-input type="{{type2}}" name="confirmPassword" [ngModel]="user.confirmPassword" [ngModelOptions]="{ updateOn: 'blur' }"
      required validateEqual="password" reverse="false" #confirmPassword="ngModel"> </ion-input>

      <button class = "eye" *ngIf="!showPass2" ion-button clear color="dark" type="button" item-right (click)="showPassword2()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
      <button class = "eye" *ngIf="showPass2" ion-button clear color="dark" type="button" item-right (click)="showPassword2()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
    <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>-->
  </ion-item>
  <ion-item no-lines class="error-text" [ngClass]="{hiding:(confirmPassword.valid || confirmPassword.pristine),show:!(confirmPassword.valid || confirmPassword.pristine)}">
      Passwords do not match.
  </ion-item>


  <button class="btn-create" [ngClass]="{'active': firstname.valid && lastname.valid && email.valid && password.valid && confirmPassword.valid }"
  [disabled]="firstname.invalid || lastname.invalid || email.invalid || password.invalid || confirmPassword.invalid"  type="submit" (click)="goToSuccessPage();" ion-button> CREATE</button>



</form>

</ion-content>

