page-create-account {


      .btn-create {
        width: 255px;
        height: 44px;
        font-size: 14px;
        color: #5c5b5b;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        //border-radius: 10px;
        background-color: #eaeaea;
        margin-top: 40px;
        font-family: Lato;
      }

      .btn-create.active{
        background-color: #097ed5;
        color: white;
      }
      
      .eye{
        font-size: 2.2 rem;
      }

      .title{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        font-size: 25px;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #0477d6;
        font-family: Lato;
      }

      .nav-bar{
        height: 48px;
        font-family: Lato;
      }
/*
      #back-button{
        font-size: 40px;
        margin-left: 17px;
        margin-top: 5px;
      }
*/
      .error{
        color: #d0021b !important;
        font-size: 12px;
        border-style: none;
        text-align: left;
        width: 64%;
        background-color: transparent !important; 
        padding-left:0px;
        margin:0 auto;
        font-family: Lato;
        
      }

      .input-group {
        width:64.2667%;
        height: 70px;
        margin:0 auto;
        padding-left:0px;
        color: #696969;
        background-color: transparent !important; 
        font-family: Lato;
    }

    .return{
      text-align: center;
      font-size: 14px;
    }

    .return-link{
      font-weight: bold;
      font-size: 14px;
    }
/*
    .create-account-header {
        height: 27px;
        font-size: 22px;
        text-align: center !important;
        color: #4a4a4a;
      }
*/

      .input{
        color: black;
        font-family: Lato;
      }

      .back-button, .toolbar-title {
         color: #FFF;
       }

      /*
      ion-content{
        background-image: url('/assets/imgs/Background Graphic 2.png');
        background-size: 100%;
    }
    */
    
}
