@import '../../styles/global.scss';

page-create-account {
        .toolbar-title,
        .create-account-back-button {
          color: $white-two;
      }
      .create-account-back-icon{
          font-size: 2em;
          font-weight: bold;
          color: $white-two !important;
      }
      .toolbar-background {
          background-color: $cerulean;
      }
      .btn-create {
        width: 255px;
        height: 44px;
        font-size: 14px;
        color: white;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.49;
        border-radius: 0px;
        background-color: $cerulean;
        margin-top: 13%;
      }

      .btn-create.active{
        background-color: $cerulean;
        opacity:1 !important;
      }
      .eye{
        font-size: 2.2 rem;
      }
      .nav-bar{
        height: 48px;
        font-family: Lato;
      }
      .item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input{
        margin-bottom:0px;
      }
      .error-text{
        font-size: 12px;
        border-style: none;
        text-align: left;
        width: 64%;
        background-color: transparent !important;
        padding-left:0px;
        margin:0 auto;
        font-family: Lato;
        margin-top: -12px;
        margin-bottom: -25px;
        &.hiding{
          color:white !important;
        }
        &.show{
          color:$error-red !important;
        }
      }

      .input-wrapper{
        height:auto;
      }


      .input-group {
        width:64.2667%;
        height: 65px;
        margin:3px auto;
        padding-left:0px;
        color: $brownish-grey;
        background-color: transparent !important;
        font-family: Lato;

    }

    .return{
      text-align: center;
      font-size: 14px;
    }

    .return-link{
      font-weight: bold;
      font-size: 14px;
    }

      .input{
        color: black;
        font-family: Lato;
      }

      .back-button, .toolbar-title {
         color: $white-two;
       }

}
